doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title
    link(href='css/ionic.app.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='cordova.js')
    script(src='js/app.js')
    script(src='js/main_ctrl.js')
    script(src='js/ball.js')
    script(src='js/hole.js')
    script(src='js/player.js')
  body(ng-app='kj-ball')
    ion-pane(ng-controller='MainCtrl')
      ion-header-bar.bar-light
        button.button.button-balanced.start(ng-click='newGame()') New Game
        h1.title Just Roll With It
        span.badge.badge-assertive.score.item-icon-right {{player.getScore()}}
      ion-content
        .background(style='width:{{trueWidth}}px; height:{{trueHeight}}px;')
          canvas#gameboard
