.body {
  position: relative;

}
.ball {
  background-color: #68c98f;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
}
.hole {
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
}
